/*body {
    background-color: #EBEBEB;
}

.content-divider{
    display: flex;
}

.content-host {
    flex: 1 1 0%;
    padding-top: 20px;
    height: 100vh;
}*/

/*.list-group-item*/
/*a {
    color: inherit !important;*/ /* Inherit the color from the parent */
    /*text-decoration: none !important;
    cursor: default !important;
    outline: none;*/ /* Remove focus outline */
/*}



 .whole{
    background-color: #EBEBEB;

 }*/






